[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Lainan for Discord
Comment=LainanAPIを使ったDiscordBotをGUIで簡単に使える！
Exec=lainan-for-discord
Icon=${SNAP}/meta/gui/icon.png
Terminal=false